body {
  background-color: #ededed;
  margin: 0;
}
.header-cointeiner {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 283px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.flex-box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  height: 40px;
  display: flex;
  align-items: center;
}
#a {
  justify-content: start;
}
#b {
  justify-content: center;
  gap: 15px;
  color: #2b2b2b;
  font-size: 16px;
}
#c {
  justify-content: end;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  width: 161px;
  height: 50px;
  background: #423f3e;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  transition: 0.4s;
}
button:hover {
  box-shadow: 4px 4px 13px #1a1a1a, 0px 0px 15px #1a1a1a;
}
.start-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  text-align: center;
}
.start-content h1 {
  font-size: 64px;
  color: #2b2b2b;
  line-height: 77px;
}
.start-content p {
  font-size: 24px;
  color: #2b2b2b;
  line-height: 29px;
}
